:root{

--bg:#050505;

--text:#ffffff;

--muted:#9ea3b0;

--accent:#4cc9ff;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:var(--bg);

color:var(--text);

font-family:
Inter,
Helvetica,
Arial,
sans-serif;

overflow-x:hidden;

}

.hero{

position:relative;

height:100vh;

overflow:hidden;

}

.hero video{

position:absolute;

width:100%;

height:100%;

object-fit:cover;

}

.hero-overlay{

position:absolute;

inset:0;

background:
linear-gradient(
180deg,
rgba(0,0,0,.1),
rgba(0,0,0,.8)
);

}

.hero-content{

position:relative;

z-index:10;

height:100%;

display:flex;

flex-direction:column;

justify-content:center;

padding-left:10vw;

max-width:900px;

}

.headline{

font-size:clamp(4rem,10vw,9rem);

font-weight:300;

line-height:.9;

letter-spacing:-4px;

}


.starfield{

height:100vh;

background-image:
radial-gradient(white 1px, transparent 1px);

background-size:50px 50px;

opacity:.4;

}



.subhead{

margin-top:2rem;

font-size:1.2rem;

max-width:600px;

color:var(--muted);

}

.cta{

display:inline-flex;

margin-top:2rem;

padding:16px 30px;

border:1px solid rgba(255,255,255,.2);

text-decoration:none;

color:white;

border-radius:999px;

transition:.3s;

}

.cta:hover{

transform:translateY(-4px);

background:rgba(255,255,255,.08);

}



.mission-control{

    position:relative;
    height:500vh;

}

.mission-container{

    position:sticky;
    top:0;

    height:100vh;

    display:grid;
    grid-template-columns:1fr 1fr;

    align-items:center;

    padding:0 8vw;

    background:#050505;

}

.mission-left{

    max-width:600px;

}

.mission-stage{

    position:absolute;

    opacity:0;

    transform:translateY(80px);

}

.mission-stage h2{

    font-size:clamp(3rem,5vw,6rem);

    font-weight:300;

    margin-bottom:1rem;

}

.mission-number{

    color:#4cc9ff;

    letter-spacing:4px;

    font-size:.9rem;

}

.mission-stage p{

    color:#9ea3b0;

    font-size:1.2rem;

    max-width:500px;

    line-height:1.8;

}



.mission-right{

    display:flex;
    justify-content:center;
    align-items:center;

}

.mission-circle{

    position:relative;

    width:500px;
    height:500px;

}

.center-core{

    position:absolute;

    top:50%;
    left:50%;

    width:40px;
    height:40px;

    background:#4cc9ff;

    border-radius:50%;

    transform:translate(-50%,-50%);

    box-shadow:
    0 0 40px #4cc9ff,
    0 0 80px #4cc9ff;

}

.orbit{

    position:absolute;

    border:1px solid rgba(255,255,255,.15);

    border-radius:50%;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

}

.orbit-1{

    width:180px;
    height:180px;

}

.orbit-2{

    width:300px;
    height:300px;

}

.orbit-3{

    width:420px;
    height:420px;

}

